/* petit ecran */
body {
    background-color: #001D46;
    margin: 0 auto;
    padding: 10px;
}

.page-header {
    background-color: #FFCC00;
    margin-top: 0;
    margin-bottom: 40px;
    padding: 20px 20px 20px 40px;
}

.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
    color: #D2003C;
    font-size: 50px;
    text-decoration: none;
    font-weight: 900;
}


h1,
h2,
h3,
h4 {
    font-family: 'Monaco', monospace;
}

.character-link,
.character-link a:link,
.character-link a:visited {
    color: #D2003C;
    text-decoration: none;
}

.character-link a:hover {
    color: #FF0000; 
    text-decoration: underline; 
}

.character-link a:active {
    color: #990000; 
}


.section-title {
    color: #D2003C;
    font-weight: 1000;
}

.prenom{
    color: #D2003C;
    font-weight: 1000;    
}

.column {
    float: none; 
    width: 100%; 
    margin-right: 0; 
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.save {
    float: right;
}

.pilotes-form textarea,
.pilotes-form input {
    width: 100%;
}

.top-menu,
.top-menu:hover,
.top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 14pt;
    margin-right: 20px;
}

.pilotes {
    margin-bottom: 70px;
}

.pilotes h2 a,
.pilotes h2 a:visited {
    color: #D2003C;
}

.pilotes > .equipe,
.pilotes > .actions {
    float: right;
}

.center {
    width: 75%;
}

.equipms {
    margin-right: 0; 
}

.equipms img {
    width: 100%;
    height: 200px; 
    object-fit: cover; 
}

.attributes{
    color:#FFFFFF;

}

.btn-secondary,
.btn-secondary:visited {
    color: #C25100;
    background: #F70D1A;
    border-color: #C25100;
}

.btn-secondary:hover {
    color: #FFFFFF;
    background-color: #C25100;
}

/* ecran gross*/
@media (min-width: 768px) {
    body {
        padding: 20px; 
    }

    .column {
        float: left;
        width: 50%; 
        margin-right: 10px; 
    }

    .equipms {
        margin-right: 10px; 
    }
}
