{% extends 'pilote/base.html' %}

{% block content %}
    <table class="mb-4">
        <tr>
            <th colspan="5"><h1 class="section-title">Pilotes</h1></th>
        </tr>
        <tr>
            {% for character in characters %}
                <td><img src="{{character.photo}}" class="center"></td>
            {% endfor %}
        </tr>        
        <tr>
            {% for character in characters %}
                <td><h2 class="character-link"><a href="{% url 'character_detail' id_character=character.id_character %}">{{ character.id_character }}</a></h2></td>
            {% endfor %}
        </tr>
        <tr>
            {% for character in characters %}
                <td>
                    <div class="attributes">
                        <p>{{ character.equipe }}</p>
                    </div>
                </td>
            {% endfor %}
        </tr>
        <tr>
            {% for character in characters %}
            <td>
                <div class="attributes">
                    <p>{{ character.etat }}</p>
                </div>
            </td>
            {% endfor %}
        </tr>
        <tr>
            {% for character in characters %}
            <td>
                <div class="attributes">
                    <p>{{ character.lieu }}</p>
                </div>
            </td>            
            {% endfor %}
        </tr>
    </table>

    <table class="mb-4">
        <tr>
            <th colspan="5"><h1 class="section-title">Equipements</h1></th>
        </tr>
        <tr>
            {% for equipement in equipements %}
            <td>
                <div class="equipms">
                    <img src="{{equipement.photo}}" class="center">
                </div>
            </td>     
        {% endfor %}
        </tr>        
        <tr>
            {% for equipement in equipements %}
                <td><h2 class="prenom"><a>{{ equipement.id_equip }}</a></h2></td> 
            {% endfor %}
        </tr>
        <tr>
            {% for equipement in equipements %}
            <td>
                <div class="attributes">
                    <p>{{ equipement.disponibilite }}</p>
                </div>
            </td>
            {% endfor %}
        </tr>
    </table>
{% endblock %}
