{% extends 'pilote/base.html' %}

{% block content %}
<div  class = "page-header"> 
    <h1> 
        <a  href = "/" > {{ character.id_character }} </a> 
    </h1 > 
    <form  method = "POST"  class = "post-form" > {% csrf_token %}
         <b > Change: </b > {{ form.as_ul }}
         <button  type = "submit"  class = "btn btn-outline-light" > OK </button>
         <a href="{% url 'character_list' %}">Back</a> 
         {% if message != ''%}
                <div style="width: 100%; margin-right: 0%;" role="alert">
                    {{message}}
                </div>
        {% endif %}
    </form> 
</div>
 
{% endblock %}